/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}       

ul{
    list-style-type: none;
    display: flex;
}

.flex{
    display: flex;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
}

header{
   font-size: 1.3rem;
   color: white;
    
}

footer{
    background-color: #23272A
}

.flex-aj-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-aj-column-center-footer{
    display: flex;
    flex-direction: column;
    line-height: 2rem;

}

.flex-aj-column-flex-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-aj-center{
 display: flex;
 justify-content: center;
 align-items: center;
}


.nav-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}


.top-header{
    background-color: #3161E0;
}       

.bg-bottom-header{
    background-image: url(../img/jumbo.png);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.container-bg-bottom-header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-discord{
    color: red;
}

.li-size{
    padding: 0 2rem;
}

.button-accedi{
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    padding: 0.8rem 1.3rem;
    margin-right: 0.5rem;
}

.buttons-bottom-header{
    padding: 2rem;
}

.button-download-Mac{
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    padding: 0.8rem 1.3rem;
    margin-right: 0.5rem;
}

.button-download-Mac-bottom-main{
    background-color: #8EA1E1;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    padding: 0.8rem 1.3rem;
    margin-right: 0.5rem;
}

.button-open-discord{
    background-color:#222629;
    color:white;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    padding: 0.8rem 1.3rem;
    margin-left: 0.5rem;
}

.span-arrow{
    padding: 0 0.4rem;
}

.button-font{
    font-size: 1rem;
    color: black;
}

.box-article-bottom-header{
    width: 45%;
    text-align: center;
}

.title-bottom-header{
    font-size: 4rem;
    padding-bottom: 3rem;
}

.subtitle-bottom-header{
    font-weight: 600;
    line-height: 2rem;
}

.bg-discord-info-channels{
    background-color:#FFFFFF;
}

.bg-discord-screen-sharing{
    background-color: #F6F6F6;
    padding-bottom: 8rem;
}

.bg-color-main-grey{
    background-color: #F6F6F6;
}

.article-column{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
}

.article-title{
    font-size: 3rem;
    line-height: 3rem;
    font-family: sans-serif;
    padding-top: 1rem;
}

.article-title-weight{
    font-weight: 700;
}

.article-info{
    font-size: 1.1rem;    
    line-height: 2rem;
    padding-top: 1rem;
   
}

.container-discord-main{
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.bg-bottom-discord-screen-sharing{
    background: url(../img/stars.svg);
    background-size: contain;
}

.bg-discord-screen-sharing{
    padding-top: 3rem;
}

.article-info-width{
    width: 50%;
    text-align: center;
}

.container-bottom-bg-discord-screen-sharing{
    padding: 2rem 0rem;
}

.bg-footer{
    padding: 4rem;
}

.container-footer{
    width: 60%;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #7289DA;
    padding-bottom: 1.5rem;
    
}

.columns-flex{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 25%;
}

.title-footer-first-column{
    font-weight: 700;
    font-size: 1.8rem;
    color: #7289DA;
}

.italy-flag{
    width: 2rem;
}

#info-language-font{
    font-size: 1rem;
    color: white;
    padding-left: 0.3rem;
}

.language-info{
    padding: 2rem 0rem;
}

.arrowdown-size{
    font-size: 0.5rem;
    vertical-align: middle;
}

.fa-brands{
    padding: 0 1rem 0 0;
}

.title-footer-columns{
    color: #778FE3 ;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.2rem;
}

.li-font-color{
    color: white;
}

.container-bottom-footer{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}